.nivo-lightbox-anchorage-body {
  overflow: hidden;
}
.nivo-lightbox-content-zoom-in-div {
  top: 10%;
  left: 10%;
  right: 10%;
  height: auto;
  width: auto;
}
.nivo-lightbox-content-zoom-out-div {
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
.nivo-lightbox-image-zoom-out-div {
  height: 100%;
  width: 100%;
}
